.header {
  margin-top: 44px;
  background-color: var(--color-white);
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
}

.header .mobile-nav {
  display: none;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 20px;
  font-weight: 600;
}

.header nav ul li a:hover {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .header nav {
    display: none;
  }

  .header .mobile-nav {
    display: block;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .header {
    margin-top: 16px;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .header .logo {
    width: 155px;
  }
}
